/* large desktop */
/* @media (min-width: 1368px) {
} */
/* Tab view */
@media (max-width: 991px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }
  .logo {
    width: 200px;
  }
  .header {
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }
  .fiexed-top-margin {
    margin-top: 0px;
  }
  .banner {
    display: none;
  }
  .navbar {
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
  }
  .nav-link {
    font-size: 18px;
    padding: 8px;
  }
  .nav-item:hover {
    border-bottom: 2px solid #ffffff;
    transition: 0.5s ease-in-out;
  }
  .nav-link:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
  .resButton {
    display: inline;
    position: absolute;
    right: 70px;
    top: 20px;
    padding: 10px 15px;
    font-size: 2.3rem;
  }
  .resNav {
    display: none;
  }
  .section-title h2 {
    font-size: 1.7rem;
  }
  .main-menu-card-img {
    display: none;
  }
  /* about */
  .about-info {
    flex-direction: column;
  }
  .about-video {
    width: 88%;
    margin: 0 auto;
  }
  .about-text {
    width: 80%;
    margin: 0 auto;
  }
  .about-images {
    flex-direction: column;
  }
  .about-images img {
    margin: 10px auto;
  }
  /* footer */
  .footer {
    padding: 40px;
    font-size: 1rem;
  }
  /* menu items  css*/
  .section-description {
    margin: 0 15px;
  }
  .item-list-min {
    padding: 20px;
    margin: 0 2rem;
    flex-wrap: wrap;
  }
  /* mobile view welcome text */
  .mobile-welcome-text {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 109px;
    text-align: center;
    color: #0f3f64;
  }
  .mobile-welcome-text p {
    color: #302e2e;
    font-weight: 600;
  }
  /* swiper.css */
  .mySwiper {
    height: 400px;
    margin-top: 0;
  }
  .swiper-slide {
    width: 200px !important;
    height: 250px;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-slide img {
    width: 200px !important;
    height: 250px;
  }
  .mySlider-info {
    display: none;
  }
  /* booking button */
  .bookingButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .bookingButton a {
    text-decoration: none;
    font-size: 22px;
    background-color: #32e2f7;
    padding: 10px;
    margin: 3px;
    border: 2px solid #0f3f64;
    border-radius: 7px;
    width: 40%;
    text-align: center;
    font-weight: 600;
    color: #0f3f54;
  }
  .bookingButton a:hover {
    background-color: #d0f3f7;
    color: #0f3f54;
  }
}

@media (max-width: 753px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact-info {
    width: 50%;
    margin-top: 10px;
  }
}
/* Moblie view */
@media (max-width: 480px) {
  .mobile-welcome-text h2 {
    font-size: 28px;
  }
  .swiper-slide {
    width: 260px !important;
    height: 250px;
  }
  .swiper-slide img {
    width: 260px !important;
    height: 250px;
  }
  .bookingButton a {
    width: 60%;
  }
  .contact-info {
    width: 80%;
  }
  .gMap embed {
    width: 100%;
    height: 240px;
  }
  .resButton {
    right: 40px;
  }
}
/* @media (max-width: 361px) {
} */
/* @media (max-width: 768px) {
} */
