* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  line-height: 1.375em;
  font-family: "Lato", sans-serif;
}
h2 {
  font-size: 2.24rem;
  line-height: 1.25em;
  font-family: "Lora", serif;
}
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-size: 1.6rem;
}
/* margin-for-header */
.fixed-top-margin {
  margin-top: 148px;
}
.item-page-fixed-top-margin {
  margin-top: 114px;
}
/* prevPageButton */
.prevPageButton {
  font-size: 39px;
  color: #0f3f54;
  background-color: #61b1d3;
  border-radius: 50px;
}
.prevPageButton:hover {
  background-color: #ffffff;
}
/* button */
.button {
  padding: 36px;
}
.button a {
  text-decoration: none;
  color: #007987;
  font-weight: 600;
  font-size: 1.26rem;
  padding: 10px 20px;
  background: white;
  border-radius: 7px;
  text-transform: uppercase;
  border: 1px solid #0f3f54;
  letter-spacing: 2px;
}
.button a:hover {
  background-color: #32e2f7;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: 0.5s ease;
}
/* card */
.card {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-link {
  text-decoration: none;
}
.card-item {
  width: 275px;
  height: auto;
  background-color: #95f4ff;
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
  box-shadow: 0px 0px 6px 0px #787878;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.card-title {
  text-align: center;
  margin: 20px;
  color: #0f3f54;
}
.card-description {
  text-align: justify;
  padding: 0 10px;
  color: #185d7b;
}
.card-bottom {
  display: flex;
  padding: 10px 10px;
  margin: 12px 0 0 0;
  justify-content: space-between;
  border-top: 1px solid #9c9c9c;
  align-items: center;
}
.price-section {
  display: flex;
}
.card-price {
  font-weight: bold;
  color: #0f3f54;
  margin-right: 5px;
}
.card-off-price {
  font-weight: bold;
  text-decoration: line-through;
  color: #787878;
}
.card-button {
  background-color: #12bed2;
  color: #001e22;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid;
  padding: 2px;
  border-radius: 10px;
}
.card-button:hover {
  background-color: #d0f3f7;
  color: #001e22;
}
.card-single-button {
  justify-content: center !important;
}
/* banner */
.banner {
  width: 100%;
  height: max-content;
  padding: 85px 0px;
  background-image: url(../images/banner-dark.png);
  background-size: cover;
}
.banner-time {
  background-color: #0c0c0c70;
  background-color: #0c0c0c70;
  border-radius: 8px;
  padding: 10px;
}
/* header */
.header {
  background-color: #32e2f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 40px;
  overflow: hidden;
  width: 100%;
  z-index: 999;
}
.logo {
  padding-left: 20px;
}
.resButton {
  display: none;
}
.navbar {
  padding-right: 90px;
}
.nav-item {
  margin: 10px;
  border-bottom: 2px solid #32e2f7;
}
.nav-item:hover {
  border-bottom: 2px solid #ffffff;
  transition: 0.5s ease-in-out;
}
.nav-link {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0f3f54;
  letter-spacing: 2px;
  padding: 10px;
  text-decoration: none;
  border-bottom: 2px solid #32e2f7;
}
.nav-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.banner-text {
  margin: 0 300px;
  text-align: center;
}

.banner-text h2,
.section-title h2 {
  color: #ffffff;
  font-size: 3rem;
  line-height: 1.25em;
  font-weight: bold;
}
.banner-text p {
  font-size: 1.24rem;
  line-height: 1.375em;
  color: #ffff;
}
/* emply-space */
.emply-space {
  height: 80px;
  width: 100%;
}
/* section title  */

.section-title h2 {
  text-align: center;
  margin: 62px;
  color: #0f3f54;
}
.section-description {
  text-align: center;
  margin: 0 15rem;
  margin-bottom: 40px;
  font-weight: 600;
  color: #393836;
}
/* openingHours */
.openingHours h3 {
  text-align: center;
  padding: 10px;
  color: #0f3f54;
}
/* about */
.about-info {
  display: flex;
  justify-content: center;
}
.about-video {
  display: flex;
  align-items: center;
  width: 500px;
  height: auto;
  border: 1px solid white;
  box-shadow: 0px 0px 6px 0px #787878;
}
.about-text {
  width: 45%;
  text-align: center;
  padding: 20px;
  align-items: center;
  display: flex;
}
.about-images {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.about-images img {
  width: 300px;
  margin: 10px;
  border: 1px solid white;
  box-shadow: 0px 0px 6px 0px #787878;
}
/* contact-info */
.contact {
  display: flex;
  color: #0f3f54;
  font-weight: bold;
  justify-content: center;
}
.contact-image {
  width: 30%;
  border-radius: 50px;
}
.contact-info {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1.5px;
}
/* footer */
.footer {
  text-align: center;
  padding: 80px;
  background-color: #d0f3f7;
  margin-top: 100px;
  color: #0f3f54;
  font-size: 1.24rem;
}
/* item css */
.nev-item-title {
  font-size: 2.24rem;
  line-height: 1.25em;
  font-family: "Lora", serif;
}
.item-list-min {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 2px solid #bdb5b5;
  margin: 0 20rem;
}
.single-item-list-min {
  padding: 15px;
  font-weight: 600;
}
